body{background-color:#fcfcfc;color:#222;}
a,a:visited{color:#226;}
#header{overflow:auto;background-color:#222;border-bottom:1px solid #000;}#header h1{padding:0px;margin:0px 10px 5px;float:left;}#header h1 a{font-size:36px;color:#fff;font-weight:bold;background:none;border:none;text-shadow:0px 1px 0px #777777,0px -1px 0px #333333;text-decoration:none;-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.3)));}
#header #nav{float:left;margin:0px;padding:0px;}#header #nav li{margin:12px 0px 0px 20px;display:inline-block;}#header #nav li a{color:#aaa;padding:1px 4px;border-radius:7px;font-weight:bold;text-shadow:0px -1px 0px #000000;background-color:#226;text-decoration:none;border:1px solid #337;display:inline-block;}
#header #nav li a:hover{color:#fff;border:1px solid #448;}
#header #user{margin:5px;float:right;}#header #user a{color:#fff;}
#footer{font-size:10px;text-align:center;}
div.post{margin:5px;padding:5px;border-bottom:1px solid #ccc;}div.post .upvote{display:block;float:left;padding:1px 4px;margin:20px 0px;width:40px;text-align:center;color:#ddd;text-decoration:none;background-color:#aaa;border:1px solid #999;border-radius:5px;font-size:10px;}
div.post .upvote:hover{background-color:#bbb;color:#fff;text-shadow:0px -1px 0px #999999;}
div.post span.score{float:right;font-size:10px;background-color:#f90;padding:1px 3px;border-radius:5px;}
div.post .title{display:block;font-size:32px;margin-left:60px;}
div.post .url{margin-left:60px;display:block;}
div.post .submission-info{clear:left;display:block;margin-left:60px;}
div.post .comments{margin-left:60px;}
form ol li label{text-align:right;}
#new_post{width:640px;margin:0px auto;margin-top:20px;}
#new_comment textarea{height:50px;}
